site_name: Marvin
nav:
  - Welcome: index.md
  - Getting Started:
    - Installation: getting_started/installation.md
    - Configuring OpenAI: getting_started/openai.md
    - Start chatting: getting_started/chat.md
  - The Guide:
    - Overview: guide/overview.md
    - Configuration: guide/configuration.md
    - Concepts:
      - guide/bots.md
    - Development:
      - Setting up: development/development.md
      - Plugins: development/plugins.md
  - FAQ: faq.md
  - ...
  
theme:
  name: material
  font: 
    text: Inter
    code: Fira Code
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.footer
    - toc.follow
    - toc.integrate 
    - content.action.edit
    - content.code.copy
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-sunny 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/weather-night
        name: Switch to light mode
plugins:
  - search
  - awesome-pages
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
repo_url: https://github.com/prefecthq/marvin
edit_uri: edit/main/docs/
extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/prefectio
    - icon: fontawesome/brands/github
      link: https://github.com/prefecthq/marvin
    - icon: fontawesome/brands/slack
      link: https://prefect.io/slack
