aiosqlite==0.18.0
asyncpg==0.27.0
cloudpickle==2.2.1
fastapi==0.89.1
httpx==0.23.3
jinja2==3.1.2
langchain>=0.0.103
nest_asyncio==1.5.6
openai==0.27.0
pendulum==2.1.2
pydantic[dotenv,email]==1.10.4
rich==13.3.1
sqlalchemy[asyncio]==1.4.41
sqlitedict==2.1.0
sqlmodel==0.0.8
tiktoken==0.3.0
ulid-py==1.1.0
uvicorn==0.20.0
xxhash==3.2.0
yake==0.4.8