
BotsDialogue {
  width: 80%;
  height: 70%;
}

BotsOptionList {
  border: solid white 50%;
  background:$background;
  
}

BotsOptionList .option-list--option {
  background: red;
  
}
BotsInfo {
  border: solid white 50%;
  column-span: 2;
  height:100%;
  width: 100%;
}

BotsInfo TextTable {
  height:100%;
  width:100%;
  overflow: auto auto;
}
TextTable {
  padding: 1 2 1 2;
}

BotsInfo TextTable .label {
  padding-right: 1;
  color: gray;
}

#bots-info-container {
  layout: grid;
  grid-size: 3;
  height:90%;
}
