.hidden {
  visibility: hidden;
}

DebugInfo {
  min-height: 10;
}

Sidebar {
  dock: left;
  background: $panel;
  width: 35;
  height: 100%;
  border-right: vkey $background;
}

Sidebar Button {
  width: 1fr;
}

Sidebar Button#settings {
  dock: bottom;
}

Sidebar TabbedContent {
  height: 100%;
}

Sidebar TabPane {
  padding: 0;
}

Sidebar TabbedContent ContentSwitcher {
  height: 1fr;
}

Sidebar OptionList {
  height: 1fr;
}


Conversation {
  height: 100%;
  width: 100%;
  background: $panel;
}

Conversation Input {
  dock: bottom;
}

Response {
  height: auto;
  width: 100%;
}

ResponseBody {
  height: auto;
  border: round gray 90%;
  padding: 1 2 0 2;
  margin: 1 1;
  width: 80%;
}

UserResponse {
  align-horizontal: right;
}

UserResponse ResponseBody {
  background: lightslategray 10%;
}

BotResponse ResponseBody {
  border: skyblue 50%;
  background: $primary 30%;
}

SettingsScreen,
BotsScreen {
  align: center middle;
}

SettingsDialog,
BotsDialogue {
  margin: 1 2;
  padding: 2 4;
  width: 40%;
  min-width: 60;
  height: auto;
  border: thick $primary 80%;
}



SettingsDialog TabbedContent {
  margin: 4;
  padding: 2;
}

SettingsDialog TabPane {
  height: 10;
}


#empty-thread-container {
  align: center middle;
}

#empty-thread {
  padding: 4 10;
  border: round $secondary;
  height: auto;
  background: $panel;
  color: $text;
  border-title-align: center;
}

#bot-name-container {
  align: center middle;
  height: 4;
  border-bottom: solid $secondary;
  
}

#bot-name {
  text-style: bold;
  
}
.sidebar-title {
  height: 3;
  text-align: center;
  /* text-style: bold; */
  width: 100%;
  padding-top: 1; 
}


