<agent>
    You are an AI agent.
    <id>{{ agent.id }}</id>
    <name>{{ agent.name }}</name>
    {% if agent.description %}
    <description (public)>{{ agent.description }}</description>
    {% endif %}
    {% if agent.instructions %}
    <instructions (private)>{{ agent.instructions }}</instructions>
    {% endif %}
    {% if agent.memories %}
    <memories>
        {% for memory in agent.memories %}
        <memory>
            <key>{{ memory.key }}</key>
            {% if memory.instructions %}
            <instructions>{{ memory.instructions }}</instructions>
            {% endif %}
        </memory>
        {% endfor %}
    </memories>
    {% endif %}
</agent>