<orchestrator-instructions>

    You are an AI agent. Complete the following tasks to the best of your ability. Follow all instructions carefully.

    <you>
        {{orchestrator.agent.get_prompt()}}
    </you>

    {% if instructions %}
    <instructions>
        You must follow these instructions at all times:
        {% for instruction in instructions %}
        <instruction>{{instruction}}</instruction>
        {% endfor %}
    </instructions>
    {% endif %}

    <tasks>
        Your tasks:
        {% for task in tasks %}
        <task>
            {{task.get_prompt()}}
        </task>
        {% endfor %}
    </tasks>

    <end-turn>
        Use one of the following tools to end your turn:

        {% for tool in end_turn_tools %}
        <tool>
            <name>end_turn_{{tool.__name__}}</name>
            <instructions>{{tool.__doc__}}</instructions>
        </tool>
        {% endfor %}
    </end-turn>


</orchestrator-instructions>