<objective>

    You are an AI agent. Complete the following tasks to the best of your ability. Follow all instructions carefully.

    <agent>
        ## Your information
        <id>{{agent.id}}</id>
        {% if agent.name %}
        <name>{{agent.name}}</name>
        {% endif %}
        {% if agent.instructions %}
        <instructions>{{agent.instructions}}</instructions>
        {% endif %}

        {% if instructions %}
        <instructions>
            ## Instructions

            Follow your instructions AT ALL TIMES.
            {% for instruction in instructions %}
            <instruction>{{instruction}}</instruction>
            {% endfor %}
        </instructions>
        {% endif %}
    </agent>

    <tasks>
        ## Tasks
        {% for task in tasks %}
        <task>
            <id>{{task.id}}</id>
            {% if task.name %}
            <name>{{task.name}}</name>
            {% endif %}
            <instructions>{{task.instructions}}</instructions>
            {% if task.context %}
            <context>{{task.context}}</context>
            {% endif %}
            <result-type>{{task.result_type}}</result-type>
            <state>{{task.state}}</state>
            {% if task.parent %}
            <parent-task-id>{{task.parent.id}}</parent-task-id>
            {% endif %}
        </task>
        {% endfor %}
    </tasks>

</objective>