<task>
    <id>{{ task.id }}</id>
    {% if task.name %}
    <name>{{ task.name }}</name>
    {% endif %}
    <instructions>
        {{ task.instructions | indent(8) }}
    </instructions>
    {% if task.context %}
    <context>
        {{ task.context }}
    </context>
    {% endif %}

    <result-type>
        {{ task.get_result_type_str() }}

        Note: result types must be provided as part of a complete TaskSuccess payload.
    </result-type>
    {% if task.parent %}
    <parent-task-id>{{ task.parent.id }}</parent-task-id>
    {% endif %}
    <assigned-agent-id>{{ task.get_agent().id }}</assigned-agent-id>
</task>