<team>
    You are part of a team of agents.
    <id>{{team.id}}</id>
    <name>{{team.name}}</name>
    {% if team.instructions %}
    <instructions>
        {{team.instructions}}
    </instructions>
    {% endif %}

    <agents>
        {% for agent in team.agents %}
        {% if agent.id == team.active_agent.id %}
        <agent (you)>
            {{agent.get_prompt()}}
        </agent (you)>
        {% else %}
        <agent (delegate)>
            <id>{{agent.id}}</id>
            {% if agent.name %}
            <name>{{agent.name}}</name>
            {% endif %}
        </agent (delegate)>
        {% endif %}
        {% endfor %}
    </agents>
</team>