name: build-docs 

on:
  pull_request:

permissions:
  contents: write
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - uses: actions/cache@v2
        with:
          key: ${{ github.ref }}
          path: .cache
      # for now, only install mkdocs. In the future may need to install Marvin itself.
      - run: pip install \
          mkdocs-material \
          mkdocs-autolinks-plugin \
          mkdocs-awesome-pages-plugin
      - run: mkdocs build
