name: Run tests

on:
  push:
    branches: ["main"]
    paths:
      - "**/*.py"

  pull_request:
    paths:
      - "**/*.py"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run_tests:
    # Skip the entire job for fork PRs
    if: ${{ !(github.event.pull_request.head.repo.fork) }}
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      matrix:
        # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        python-version: ["3.11"]

    runs-on: ${{ matrix.os }}

    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Marvin
        run: uv sync --extra test

      - name: Run tests
        run: uv run pytest -v -n auto
